* {
	margin: 0;
	padding: 0;
}
.page {
	margin: 0;
	font-family: Arial, sans-serif;
	background: linear-gradient(to bottom, red, black, white);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.card {
	display: flex;
	margin: 1rem 0;
	border-radius: 10px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 3rem;
	padding: 3rem;
	border: 2px solid black;
	box-shadow: 10px 10px 10px gray;
}

.card-img {
	display: flex;
	background-color: white;
	border-radius: 10px;
	max-width: 475px;
	max-height: 475px;
	border: 2px solid black;
}

.navbar {
	width: 100%;
	min-height: 20vh;
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
	align-items: center;
	justify-content: center;
}

.button {
	min-width: 80px;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}

.Fire {
	background-color: rgb(190, 43, 43);
}

.Grass {
	background-color: rgb(31, 139, 31);
}

.Psychic {
	background-color: rgb(167, 30, 167);
}

.Electric {
	background-color: rgb(219, 219, 11);
}

.Water {
	background-color: rgb(62, 62, 223);
}
